# tmp files
cli/URL_CACHE

# OS X related
.DS_store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/
/web-app/data/_mdb_catalog.wt
/web-app/data/collection-0-4689403078760446723.wt
/web-app/data/collection-2-4689403078760446723.wt
/web-app/data/collection-4-4689403078760446723.wt
/web-app/data/index-1-4689403078760446723.wt
/web-app/data/index-3-4689403078760446723.wt
/web-app/data/index-5-4689403078760446723.wt
/web-app/data/index-6-4689403078760446723.wt
/web-app/data/diagnostic.data/metrics.2020-03-19T21-54-18Z-00000
/web-app/data/diagnostic.data/metrics.2020-03-20T13-33-56Z-00000
/web-app/data/mongod.lock
/web-app/data/sizeStorer.wt
/web-app/data/storage.bson
/web-app/data/WiredTiger
/web-app/data/WiredTiger.lock
/web-app/data/WiredTiger.turtle
/web-app/data/WiredTiger.wt
/web-app/data/WiredTigerLAS.wt
/web-app/data/journal/WiredTigerLog.0000000002
/web-app/data/journal/WiredTigerPreplog.0000000001
/web-app/data/journal/WiredTigerPreplog.0000000002
