{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="top-level-pane">
        <div class="left-pane">

            <div class="logo-pane">
                <a href="/">
                    <img src="{{ url_for('static', filename='images/podster-logo.png') }}"
                         alt="Podster logo" height="82" width="82">
                </a>
            </div>

            <div class="menu-pane">
                <button>🧭 Explore</button>
                <button>💎 Favorites</button>
            </div>

            <div class="settings-pane">
                <a class="button" href="/api-docs">API Docs</a>
            </div>
        </div>

        <div class="center-pane">
            <div class="top-pane">
                {% include "top-pane.html" %}
            </div>

            <div class="middle-pane">
                <div class="recently-added-container">
                    {% include "recently-added.html" %}
                </div>

                <div class="show-meta">
                    <div class="show-meta-text">
                        <h3 id="show-title">{ Title here }</h3>
                        <h6 id="show-description">{ Description here }</h6>
                    </div>
                    <div class="show-meta-image">
                        <img id="show-cover" src="#" alt="" height="150" width="150">
                    </div>
                </div>
            </div>

            <div class="bottom-pane">
                <div class="episode-table-wrapper">
                    <table id="episode-table">
                        <tr>
                            <th style="width: 10%">Title</th>
                            <th style="width: 2%">Date Published</th>
                            <th style="width: 2%">Duration</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        {# Up Next #}
        <div class="right-pane">
            {% include "bottom-pane.html" %}
        </div>
    </div>

    {% include "player.html" %}
{% endblock %}
