{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="nine columns"><p></p></div>
            <div class="three columns">
                <img height="12" width="12"
                     src="{{ url_for('static', filename='images/location-arrow.png') }}"> Bexleyheath<br>
                <b>7</b> &#8451;
            </div>
        </div>
        <div class="current-events-section">
            <h5>Current Events</h5>
            <div class="row current-events-shows">
                <div class="three columns">
                    <a href="/show-detail">show title</a>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="sports-section">
            <h5>Sports</h5>
            <div class="row sports-shows">
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="tech-section">
            <h5>Technology</h5>
            <div class="row tech-shows">
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="politics-section">
            <h5>Politics</h5>
            <div class="row politics-shows">
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="environment-section">
            <h5>Environment</h5>
            <div class="row environment-shows">
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
                <div class="three columns">
                    <p>show title</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
