<!-- Base template -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Podster</title>
    <link rel="stylesheet" type="type/css" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    <div id="header">
        {% block header %}
        <h2>Podster (header block)</h2>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        <p>content block</p>
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        <p>&copy; Copyright 2020 by <a href="https://sameen.info/">Sameen</a>.</p>
        {% endblock %}
    </div>
</body>
</html>