<div class="player-top-level-pane">
    <div class="show-metadata-pane">
        <div class="show-cover">
            <img src="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        </div>
        <div class="name-artist-wrapper">
            <span id="current-name" class="show-name">No track selected</span>
            <span id="current-podcast" class="show-artist"></span>
        </div>
    </div>
    <div class="player-controls-pane">

        <div class="player-buttons">
            <div class="player-button">
                <i id="player-prev" class="fas fa-backward fa-lg"></i>
            </div>
            <div class="player-button">
                <i id="player-play-pause" class="fas fa-play fa-2x"></i>
            </div>
            <div class="player-button">
                <i id="player-next" class="fas fa-forward fa-lg"></i>
            </div>
        </div>

        <audio id="player-audio">
            <source id="audio-source" type="audio/mp3"></source>
            Audio playback unsupported by browser.
        </audio>

        <div class="player-seek-bar">
            <div class="player-seek-bar-fill"></div>
            <div class="player-seek-bar-handle"></div>
        </div>

    </div>
    <div class="volume-control-pane">
        <div class="volume-controls">
            <div class="player-button vol-mute">
                <i class="fas fa-volume-mute"></i>
            </div>
            <div class="volume-slider-wrapper">
                <div class="volume-slider">
                    <div class="vol-slider-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
