<div class="recently-added-container">
    <div class="header-section">
        <div class="recently-added-title">
            Recently Added
        </div>

        <div class="arrow-section">
            <div class="navigation-arrow">&lt;</div>
            <div class="navigation-arrow">&gt;</div>
        </div>
    </div>

    <div class="show-section">
        <div class="show-grid-item first-item">
            <p>first item</p>
        </div>
        <div class="show-grid-item">
            <p>second item</p>
        </div>
        <div class="show-grid-item">
            <p>third item</p>
        </div>
        <div class="show-grid-item last-item">
            <p>fourth item</p>
        </div>
    </div>
</div>