{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="top-level-pane">
        <div class="left-pane">

            <div class="logo-pane">
                <a href="/">
                    <img src="{{ url_for('static', filename='images/podster-logo.png') }}"
                         alt="Podster logo" height="82" width="82">
                </a>
            </div>

            <div class="menu-pane">
                <button>🧭 Explore</button>
                <button>💎 Favorites</button>
            </div>

            <div class="settings-pane">
                <a class="button" href="/api-docs">API Docs</a>
            </div>
        </div>

        <div class="center-pane">
            <div id="show-details">
                <div class="top-pane">
                    {% include "top-pane.html" %}
                </div>

                <div class="middle-pane">
                    <div class="show-meta">
                        <h3>{{ title }}</h3>
                        <h6 id="show-description">{ Description here }</h6>
                    </div>
                </div>

                <div class="bottom-pane">
                    <div class="episode-table-wrapper">
                        <table id="episode-table">
                            <tr>
                                <th>Title</th>
                                <th>Date Published</th>
                                <th>Duration</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="right-pane">
            right-pane
        </div>
    </div>
    <div class="player-top-level-pane">
        <div class="show-metadata-pane">
            <div class="show-cover">
                <img src="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
            </div>
            <div class="name-artist-wrapper">
                <span id="current-name" class="show-name">{NAME}</span>
                <span id="current-podcast" class="show-artist">{ARTIST}</span>
            </div>
        </div>
        <div class="player-controls-pane">
            <div class="player-buttons">
                <div class="player-button">
                    <i id="player-prev" class="fas fa-backward"></i>
                </div>
                <div class="player-button">
                    <i id="player-play" class="fas fa-play"></i>
                </div>
                <div class="player-button">
                    <i id="player-pause" class="fas fa-pause"></i>
                </div>
                <div class="player-button">
                    <i id="player-next" class="fas fa-forward"></i>
                </div>
            </div>
            <div class="player-seeker">
                <div class="seeker-bar"></div>
            </div>
            <span class="player-duration">0:00</span>
        </div>
        <div class="volume-control-pane">
            <div class="volume-controls">
                <div class="vol-mute">
                    <i class="fas fa-volume-mute"></i>
                </div>
                <div class="volume-slider-wrapper">
                    <div class="volume-slider">
                        <div class="vol-slider-bar"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
