* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    /*color: white;*/
}

.header {
    margin-top: 50px;
}

.footer {
    margin-top: 20px;
    color: grey;
}

.weather {
    margin-top: 25px;
    margin-bottom: 25px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    display: none;
}

.card {
    display: inline-block;

    /*uncomment to debug*/
    /*border: 2px solid red;*/
    background: greenyellow;

    width: 125px;
    height: 125px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Recently Added */
.recently-added-container {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid red;*/
}

.recently-added-container .header-section {
    display: flex;
    justify-content: space-between;
    height: 50px;
    /*border: 1px solid red;*/
}

.recently-added-container .header-section .recently-added-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    /*border: 1px solid red;*/
}

.recently-added-container .arrow-section {
    display: flex;
    width: 5%;
    /*border: 1px solid red;*/
}

.recently-added-container .navigation-arrow {
    margin: auto;
    /*border: 1px solid red;*/
}

.recently-added-container .show-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    /*border: 1px solid red;*/
}

.recently-added-container .show-grid-item {
    display: flex;
    padding: 0 2% 0 2%;
    height: 150px;
    width: 150px;
    border: 1px solid red;
}

/* ------------- */
