* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    /*color: white;*/
}

.header {
    margin-top: 50px;
}

.footer-pane {
    display: flex;
    color: grey;
    background-color: #80FFD7;
    height: 200px;
    justify-content: flex-start;

}

.footer-pane .slogan {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    justify-content: space-between;
    /*border: 1px solid red;*/
}

.slogan .slogan-top {
    /*border: 1px solid red;*/
}

.slogan .slogan-bottom {
    /*border: 1px solid red;*/
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    display: none;
}

.card {
    display: inline-block;

    /*uncomment to debug*/
    /*border: 2px solid red;*/
    background: greenyellow;

    width: 125px;
    height: 125px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Top Level Pane */
.top-level-pane {
    display: flex;
    height: 1000px;
    /*background-color: lightblue;*/
    border: 1px solid red;
}

/* Left Pane */
.left-pane {
    display: flex;
    background: #eee;
    flex-direction: column;
    width: 20%;
    /*border: 1px solid red;*/
}

.left-pane .logo-pane {
    display: flex;
    justify-content: center;
    margin: 20% 20% 20% 20%;
    /*border: 1px solid red;*/
}

.left-pane .menu-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20% 20% 20% 20%;
    /*border: 1px solid red;*/
}

.left-pane .settings-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 20% 20% 20%;
    /*border: 1px solid red;*/
}

/* Center Pane */
.center-pane {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

/* Top Pane */
.top-pane {
    display: flex;
    width: 100%;
    border: 1px solid red;
}

.top-pane .search input {
    width: 250px;
    margin-left: 20%;
}

/* Middle Pane */
.middle-pane {
    border: 1px solid red;
}

/* Bottom Pane */
.bottom-pane {
    border: 1px solid red;
}

/* Right Pane */
.right-pane {
    display: flex;
    width: 20%;
    border: 1px solid red;
}

/* Recently Added */
.recently-added-container {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid red;*/
}

.recently-added-container .header-section {
    display: flex;
    justify-content: space-between;
    height: 50px;
    /*border: 1px solid red;*/
}

.recently-added-container .header-section .recently-added-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    /*border: 1px solid red;*/
}

.recently-added-container .arrow-section {
    display: flex;
    width: 5%;
    /*border: 1px solid red;*/
}

.recently-added-container .navigation-arrow {
    margin: auto;
    /*border: 1px solid red;*/
}

.recently-added-container .show-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    /*border: 1px solid red;*/
}

.recently-added-container .show-grid-item {
    display: flex;
    padding: 0 2% 0 2%;
    height: 150px;
    width: 150px;
    border: 1px solid red;
}

/* ------------- */
