/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  background-color: #B2D6FF;
}

.content {
  background-color: #EAEDF0;
}

.sign-up {
  background-color: #D6E9FE;
}

.sign-in {
  background-color: #B2D6FF;
}

.brand-name {
  font-family: arial, sans-serif;
  font-size: 36px;
}

.brand-tagline {
  font-family: arial, sans-serif;
  font-size: 18px;
  text-align:center;
}

.app-logo {
  height: 100px;
}

.accent-link {
  background: none!important;
  border: none;
  padding: 0 5px;
  font-family: arial, sans-serif;
  font-size: 14px;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.button-primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 200px;
  background-color: #2eb0ff;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
  body {
    background-color: #F09A9D; /* Red */
  }
  .header {
    height: 15vh;
  }
  .content {
    height: 25vh;
  }
  .sign-up {
    height: 10vh;
  }
  .sign-in {
    height: 35vh;
  }
  
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
  .sign-up,
  .sign-in {
    width: 50%;
  }
  /* Place sign-up before sign-in */
  .sign-in {
    order: 2;
  }
  .sign-up {
    order: 1;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .header {
    height: 400px;
  }
}

/* Dark Mode */
@media screen and (prefers-color-scheme: dark) {
  body {
    /* background-color: #212121; */
    color: #212121; /* TODO: change to white */
  }
}
