* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: white;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

.header-container h1 {
  color: red;
}

.main-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button-primary {
  width: 260px;
  height: 43px;
  background: #C4C4C4;
  border-radius: 10px;
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}